*{
    margin: 0%;
}
.page-wrapper{
    width: 100%;
}
.header{
    width: 100%;
    background-color: lightgray;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    font-size: large;
    margin-bottom: 0.75%;
}
.nav-menu{
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}
.contain{
    background-color: lightgray;
    width: 18%;
    padding-bottom: 29%;
    display: inline-block;
    margin-bottom: 0.75%;
}
.main-contain{
    width: 63.45%;
}
.footer{
    width: 100%;
    background-color: lightgray;
    padding-top: 2.66%;
    padding-bottom: 2.66%;
    text-align: center;
    font-size: large;
}
